<div class="main-container">
    <div class="forgot-password-form" *ngIf="ForgotPasswordContainer">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-entry">
                <label for="email">Email:</label>
                <input class="form-input-email" id="email" type="email" formControlName="email">
            </div>
            <div class="submit-button">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="forgot-password-form" *ngIf="changedPattern">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onChangedPassword()">
            <div class="register-input-field">
                <label class="input-label" >Password:</label>
                <input class="register-main-input" type="password" formControlName="changePassword" placeholder="Password">
            </div>
            <div class="register-input-field">
                <label class="input-label">Confirm Password:</label>
                <input class="register-main-input" type="password" formControlName="confirmPassword" placeholder="Confirm Password">
            </div>
            <div class="submit-button">
                <button type="submit">Submit</button>
            </div>
        </form>

    </div>
</div>